[color]
	branch = auto
	diff = auto
	status = auto
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[core]
	whitespace = blank-at-eol,blank-at-eof,tab-in-indent
	pager = less -RFX
	excludesfile = ~/.gitignore_global
[alias]
	so = show --pretty='parent %Cred%p%Creset commit %Cred%h%Creset%C(yellow)%d%Creset%n%n%w(72,2,2)%s%n%n%w(72,0,0)%C(cyan)%an%Creset %Cgreen%ar%Creset'
	lg = log --pretty='%Cred%h%Creset | %C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(cyan)[%an]%Creset' --graph
	st = status --short --branch
	cma = commit --all -m
	qm = "!git checkout $1;git merge @{-1}"
	dp = diff --word-diff --unified=10
	ci = commit
	co = checkout
	br = branch
[diff]
	altorithm = histogram
	tool = opendiff
[merge]
	tool = opendiff
[include]
	path = ~/.gitconfig.user
