[submodule "dotfiles/.vim/bundle/Vundle.vim"]
	path = dotfiles/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-vinegar"]
	path = dotfiles/.vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
    ignore = untracked
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
    ignore = untracked
[submodule "dotfiles/.vim/bundle/editorconfig-vim"]
	path = dotfiles/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-colorschemes"]
	path = dotfiles/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-atom-dark"]
	path = dotfiles/.vim/bundle/vim-atom-dark
	url = https://github.com/gosukiwi/vim-atom-dark
    ignore = untracked
[submodule "dotfiles/.vim/bundle/surround.vim"]
	path = dotfiles/.vim/bundle/surround.vim
	url = https://github.com/vim-scripts/surround.vim
	ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-addon-mw-utils"]
	path = dotfiles/.vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
	ignore = untracked
[submodule "dotfiles/.vim/bundle/tlib_vim"]
	path = dotfiles/.vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim
	ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-snipmate"]
	path = dotfiles/.vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate
	ignore = untracked
[submodule "dotfiles/.vim/bundle/syntastic"]
	path = dotfiles/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
	ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-prettier"]
	path = dotfiles/.vim/bundle/vim-prettier
	url = https://github.com/prettier/vim-prettier
	ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-fugitive"]
	path = dotfiles/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = untracked
[submodule "dotfiles/.vim/bundle/ctrlp.vim"]
	path = dotfiles/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-tmux-navigator"]
	path = dotfiles/.vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-javascript"]
	path = dotfiles/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
    ignore = untracked
[submodule "dotfiles/.vim/bundle/tabular"]
	path = dotfiles/.vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-markdown"]
	path = dotfiles/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-jsx"]
	path = dotfiles/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
    ignore = untracked
[submodule "dotfiles/.vim/bundle/vim-snippets"]
	path = dotfiles/.vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
    ignore = untracked
[submodule "dotfiles/.vim/bundle/ag.vim"]
	path = dotfiles/.vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim
    ignore = untracked
[submodule "dotfiles/.vim/bundle/youcompleteme"]
	path = dotfiles/.vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe
